
@{
    ViewData["Title"] = "View";
}

<form method="post" action="">
    Username:<br>
    <input type="text" name="username" value=""><br>
    Password:<br>
    <input type="text" name="password" value=""><br><br>
    <input type="submit" value="Submit" class="submit">
</form>
